* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.container {
    height: 80%;
    width: 100%;
    background-image: url('images/background-cabin2.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.container #character {
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 80%;
}

.answerbox {
    position: absolute;
    top: 20%;
    width: 40%;
    height: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

.answerbox p{
    font-size: 25px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.answerbox input{
    width: 30%;
    height: 40px;
    margin: 10px;
    text-align: center;
    border: none;
    font-size: 40px;
    background-color: blanchedalmond;
}

.answerbox button{
    width: 40%;
    height: 30px;
    margin: 5px;
    border: none;
    background-color: blanchedalmond;
}

.answerbox button:hover{    
    background-color: bisque;
}

.prompt2 {
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    color:bisque;
    position: absolute;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

.dialogue-box {
    width: 100%;
    height: 20%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.dialogue-box p {
    color: brown;
    font-size: 20px;
}

.nextpage {
    position: absolute;
    top: 30%;
    height: 30%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nextpage h2{
    font-size: 40px;
    color: white;
    margin: 20px;
}

.nextpage h3{
    font-size: 25px;
    color: white;
    margin: 10px;   
}

#loading {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#loading-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}